<!DOCTYPE html>
<html>
	<head>
		<title>Not Found</title>
		<link rel="stylesheet" href="/main.css" />
	</head>
	
	<body>
		<header>
		</header>
		
		<main>
			<section class="container">
				<h3>Not Found</h3>
				<p>
					The system was not able to find the resource.
				</p>
			</section>
		</main>
		
		<footer>
			<section class="container footer-container">
				<span>
					<a href="/">Home</a>
					<a href="/about">About</a>
					<a href="">Service</a>
					<a href="">Payment</a>
				</span>
				<span>

					<a href="">Create Account</a>
					<a href="">Log In</a>
					<a href="">Reset Password</a>

					<a href="">Contact Us</a>
				</span>
				<span>
					<h3>Sample.com</h3>
					<p>
						The quick brown fox jumps over a lazy dog.
						The quick brown dog jumps over a lazy fox.
						<br/>
						<br/>
						Copyright &copy; 2023
					</p>
				</span>
			</section>
		</footer>
	</body>
</html>